
<div class="cp-collapse" :class="isOpen ? 'active': ''">
  <div class="collapse-trigger-block" @click="isOpen = !isOpen">
    <slot name="trigger"></slot>
  </div>
  <transition name="collapse" 
    v-on:before-enter="beforeEnter"
    v-on:enter="enter"
    v-on:after-enter="afterEnter"
    v-on:before-leave="beforeLeave"
    v-on:leave="leave"
    v-on:after-leave="afterLeave">
    <div v-show="isOpen" class="collapse-content-block">
      <slot name="content"></slot>
    </div>
  </transition>
</div>

