.cp-collapse {
    .collapse-{

        &enter-active,
        &leave-active {
        overflow: hidden;
        transition: height .3s linear;
        }
        
    }
    .collapse-content-block{
        transition: height .3s linear;
        overflow: hidden;
        
    }
}
