$form-height: 40px;
$form-space: 15px;
$form-wd-normal: 325px;
$form-color-bg: $color-form-sub;
$form-radius: 5px;
$form-color-error: $color-sub-light;
$form-color-disable: $color-form-diable;
$form-color-placeholder: $color-grey-light;


$config-form:(
    height: $form-height,
    space: $form-space,
    max-width: $form-wd-normal,
    bg: $form-color-bg,
    color: $color-white,
    radius: $form-radius,
    font-size:  $font-size-h7,
    color-required: $color-error
);

$config-form-theme:(
    'error': $form-color-error,
    'disable': $form-color-disable
);

@mixin form-basic{
    border: none;
    outline: none;
    background-color: map-get($config-form, bg);
    color: map-get($config-form, color);
    border-radius: map-get($config-form, radius);
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    font-size: map-get($config-form, font-size);
    box-sizing: border-box;
   
}// end: form-basic


$config-form-item:(
    wd-title: 120px,
    space: 10px
);
.ui-form-item{
    &.style--has-title{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        .form-title{
            max-width: map-get($config-form-item, wd-title);
            width: 100%;
            box-sizing: border-box;
            padding-right: map-get($config-form-item, space);
            text-align: left;
        }
        .ui-form-el{
            flex: 1 1 100%;
        }
        @media(max-width: $screen-sm-than-pad){
            .ui-form-el{
                max-width: calc(100% - #{map-get($config-form-item, wd-title)});
            }
        } // end: media

        &.style--required{
            .form-title{
                position: relative;
                padding-right: 2px;
                box-sizing: border-box;
                &:after{
                    content: '*';
                    display: inline-block;
                    font-size: $font-size-h9;
                    top: -5px;
                    margin-left: 3px;
                    position: relative;
                    // position: absolute;
                    color: map-get($config-form, color-required);
                }
            }
        
        }// end: style--required
                
    } // style--has-title
    
}//end: .ui-form-item
