
<div class="ui-modal-basic"  :class="isOpen ? 'style--open': 'style--close'">
  <div class="modal-backdrop"></div>
  <div class="modal-main-block">
      <div class="modal-block">
          <div class="modal-header">
            <slot name="header"></slot>
            <a href="javascript:;" class="icon-close" v-show="isShowClose" @click="onClose">
              <span class="icon-close-line"></span>
              <span class="icon-close-line"></span>
            </a>
          </div>
          <vuescroll :ops="scrollbarStyle">
            <div class="modal-content">
                <slot name="content"></slot>
            </div>
          </vuescroll>
          <div class="modal-footer">
            <slot name="footer"></slot>
          </div>
        </div>
  </div>
  <!-- end of modal-main-block -->
 
</div>

