
@import '../../../assets/sass//helper/variables';
$color-white: #fff;
$color-bg-modal-content: $color-white;
$color-close: grey;
$btn-close-size: 44px;
$config-z-index:(
    'modal-content': 9999,
    'modal-backdrop': 999
);
$config-wd:(
    'sm': 500px,
    'md': 600px,
    'lg': 750px
);
.ui-modal-basic {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    z-index: map-get($config-z-index, modal-backdrop);
    box-sizing: border-box;
    transition: opacity .8s, visibility 1s;
    &.style--open{
        opacity: 1;
        visibility: visible;
    }
    &.style--close{
        opacity: 0;
        visibility: hidden;
    }
    @media(max-width: $screen-sm-than-pad){
        .modal-main-block{
            padding: 0 10px;
            box-sizing: border-box;
        }
        
    }
    // background area
    .modal-backdrop{
        background-color: rgba(0,0,0,0.8);
        transition: all .8s;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    // modal content block
    .modal-main-block{
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 150px;
        display: flex;
        justify-content: center;
        @each $name, $val in $config-wd{
            &.wd--#{$name}{
                max-width: $val;
            }
        } // end: each
    } //end: modal-block
    .modal-block{
        background-color: $color-bg-modal-content;
        max-width: map-get($config-wd, sm);
        width: 100%;
        z-index: map-get($config-z-index, modal-content);
        max-height: 400px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    // header
    .modal-header{
        position: relative;
    }
    .modal-content{
        overflow-y: auto;
    }
    .icon-close{
        position: absolute;
        right: 0px;
        top: 0;
        width: $btn-close-size;
        height: $btn-close-size;
        .icon-close-line{
            margin-top: 5px;
            position: absolute;
            background-color: $color-close;
            max-width: 20px;
            width: 100%;
            height: 2px;
            border-radius: 3px;
            display: inline-block;
            cursor: pointer;
            top: 0;
            right: 0;
            margin-top: 10px;
            &:first-of-type{
                transform-origin: center center;
                transform: rotate(45deg);
            }
            &:last-of-type{
                transform-origin: center center;
                transform: rotate(-45deg);
            }
        } // end: icon-close-line
    } //end: icon-close
} //end: ui-modal-basic

@at-root body{
    &.style--fixed{
        overflow: hidden;
    }
}